

body{
    background-color: #A3B49C;
    display:flex;
    margin: 0;
    padding: 0;
}


h1{
    position: absolute;
    width: 460px;
    height: 56px;
    left:  calc(50% - 460px/2);
    top: 90px;
    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    color:beige

}
nav{
    height: 80px;
}

#themes{
    /* themes */

    position: absolute;
    width: 41px;
    height: 19px;
    left: 881px;
    top: 25px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFCFC;


}
.dropdown{
    display:none;
    overflow:hidden;
    font-family: "Jersey 10";
    position: absolute;
    width: 60px;
    height: 90px;
    left: 880px;
    top: 42px;
    color:beige;
    background-color:#818e7c;
    box-shadow: 3px 3px 5px #41483f;
}
#themes:hover +  .dropdown{
    display:block;
}

.dropdown:hover{
    display:block;
}

#kiki:hover, #spiderman:hover, #hp:hover, #lofi:hover, #themes:hover, #totoro:hover{
    text-decoration: underline;
}



#music{
    /*music*/

    position: absolute;
    width: 41px;
    height: 19px;
    left: 1020px;
    top: 25px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFCFC;



}
#music:hover{
    text-decoration: underline;
}

#timer{


   /*Timer*/

    position: absolute;
    width: 41px;
    height: 19px;
    left: 1159px;
    top: 25px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFCFC;




}
#timer:hover{
    text-decoration: underline;
}
#other{

    position: absolute;
    width: 41px;
    height: 19px;
    left: 1298px;
    top: 25px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #FFFCFC;





}
#other:hover{
    text-decoration: underline;
}
#logo{
    position: absolute;
    width: 80px;
    height: 51px;
    left: 60px;
    top: 25px;
    font-family: "Jersey 10";
    color: #FFFCFC;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}


.triangle-up{
    position: absolute;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #D9D9D9;
    left : 320px;
    top: 30px;
    
}

.triangle-down{
    position:absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #D9D9D9;
    left : 320px;
    top: 65px;
    
    

}

.pomodoro-container{
/* Outer rectangle of pomodoro container */
    /* Rectangle 1 */

    position: absolute;
    width: 430px;
    height: 540px;
    left: calc(50% - 430px/2);
    top: 220px;
    background: #76947E;
    border-radius: 20px;
    /* cursor:grab; */


}
.pomodoro-container span {
    position: absolute;
    width: 250px;
    height: 117px;
    left: calc(50% - 250px/2);
    top: 0px;

    font-family: 'Jersey 10';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    text-align: center;

    color: #FFFCFC;
}

#button-holder{
    position:relative;
    width: 200px;
    height: 50px;
    background-color:#a3b49c;
    top: 475px;
    left:calc(50% - 200px/2);
    border-radius: 10px;
    box-shadow:  10px 10px 3px #80897C;
    z-index: 1;
}
#button-holder:hover{
    background-color:#a0b399;
}
#button-holder:active{
    transform: translateX(5px);
    transform: translateY(2px);
    box-shadow: 5px 5px 2px #80897C;
    background-color:#a3b49c;
}


#start{
    /* start button */
    position: absolute;
    width: 200px;
    height: 90px;
    left: calc(50% - 200px/2);
    top: -30px;

    
    font-family: 'Jersey 10';
    font-weight: 400;
    font-size: 60px;
    line-height: 117px;
    color: beige;
    text-align: center;
    place-items: center;

    
}

#pause-holder{
    position: absolute;
    width: 105px;
    height: 50px;
    left: 240px;
    top: 475px;
    background-color:#a3b49c;
    font-family: 'Jersey 10';
    font-size:40px;
    color: beige;
    border-radius: 10px;
    box-shadow: 10px 10px 3px  #80897C;
    z-index: 1;



}

#pause{
    font-family: "Jersey 10";
    font-size: 40px;
    text-align: center;
    top: -34px

}
#pause-holder:hover{
    background-color:#a0b399;

}
#pause-holder:active{
    transform: translateX(5px);
    transform: translateY(2px);
    box-shadow: 5px 5px 2px #80897C;
    background-color:#a3b49c;

}


#img-container{
    position: absolute;
    width: 285px;
    height: 345px;
    left: calc(50% - 285px/2 + 0.5px);
    top: 110px;
    background: url(totoro.png);
    /* background: url(totoro-orange.png); */
    background-size: cover;
    
    text-align: center;
    border-radius: 20px;

}






